body {
    background-color: rgb(169, 193, 255);
  }
  /*I chose this baby blue colour as the background because it is an easy to read
  over and works harmoniously with the other warmer colours the webpage has. */

  .salsa-regular {
    font-family: "Salsa", cursive;
    font-weight: 500;
    font-style: bold;
    font-size: 2.5rem;
  }


  h1{ color:rgb(250, 106, 216)
  }
  /*I chose this bright light pink to go ontop of the blue background
  because it contrasts really nicely and because of the pink in the favicon icon
  as well.*/

  h1 {
    font-family: "Jersey 20", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.5rem;    
  }
  /*I chose this font for the title of the webpage because
  it serves as a conenction to the rough textures used throughout 
  the researched webpages design. */

  body {
    font-family: "Crimson Pro", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.2rem;
  }
  /*I chose this font for the body of the text because its a softer
  bolder font than the default, and I liked the uniqueness it brings to the 
  webpage. */

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  body {
    text-align: center;
  }

   h3{
    text-align: center;
  }
  /*I wanted to make all of the text line up in the center to have a more
  unified design, that is easy for the viewer to follow along the webpage.*/

 body  {
     
    width: 1455px;
    height: 2450px;
    border: 4mm ridge rgba(253, 231, 131, 0.936); }
    /* I wanted to use a unique border that, uses a yellow/orange colour to serve as a
    relation to the favicon icon used in the browser.*/

