body {
    font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
/* I chose for "Press Start 2P" to be my primary font as it has a very Y2K/cyber aesthetic
to it. It works well in the style that is also on the webpage such as the background and
clothing items. */
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    align-items: center;
    justify-content: space-between;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #ff00cc;
    font-size: 1rem;
    margin: center;
    padding: none;
    background: url('FINAL11.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
/* I created my own background image for this webpage as it needed a specific dimension
and aesthetic in order for it to fully encompass the vision from the presentation. I used 
Adobes Illustrator in order to create it. */
  }

  .slideshow-container {
    position: relative;
    max-width: 80%;
    margin: 20px 0;
    border: 2px solid #ffffff00;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

/* I found not having a border around the images made a cleaner all around look for the
webpage. */

.slideshow {
    display: flex;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.slide {
    display: none;
    width: 100%;
    border-radius: 10px;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls button {
    background-color: rgb(13, 255, 0);
    border: none;
    color: #ff00bb;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.controls button:hover {
    background-color: rgb(255, 0, 221);
    color:#00ff11
}
/* The colour selection used here in ".controls button" and ".controls button:hover" 
were made meticulously, I wanted one of the colours to match the bright hot pink that
was used for the heading and the subheading. However, I also wanted something more 
striking and I found that bright green matches well with the pink and is also within
the Y2K style too. So I used this bright green for the stars around the border of the
"cyber closet" as well. */



