/* body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.slideshow-container {
    position: relative;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
}

.slideshow {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: none;
    width: 100%;
    border-radius: 10px;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.controls button:hover {
    background-color: rgba(255, 0, 0, 0.8);
} */

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* min-height: 100vh; */
    height:100vh;
    background-image: url(background_final.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}

.slideshow-container {
    position: relative;
    max-width: 80%;
    margin: 20px 0;
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.slideshow {
    display: flex;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.slide {
    display: none;
    width: 100%;
    border-radius: 10px;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}




