body {
    background-color: #4000ff;
    display: flex;
    text-align: right;
    margin: auto;
    max-width: 1000px;
    justify-content: right;
    align-items: right;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* color: #e5e5cb; */
    color: #ff00ee;
    font-size: 3rem;
  }
  h1 {
    font: size 2rem;
  }

  .outer {
    border:2px solid rgb(255, 255, 255);
    width: 400px;
    height: 200px;

  }

  p {
    padding: 40px;
  }